%centered-container {
	@include outer-container;
}

%horizontal-list {
	@include clearfix;

	li {
		float: left;
		margin-right: $gutter;

		a {
			display: inline-block;
		}
	}
}

#header {
	@extend %centered-container;
	background-color: $medium-gray;

	ul {
		@extend %horizontal-list;
		margin-left: $gutter;

		a {
			color: white;
			font-size: 24px;
		}
	}
}

#content {
	@extend %centered-container;
}

#footer {
	@extend %centered-container;
}